.allBeers {
    padding: 5vw;
    background: url(./allbeer.jpg) center / contain;
}

.beerHolderAll {
	color: rgb(255, 240, 181);
	padding: 2%;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	display: flex;
	flex: 1;
	justify-content: center;
    margin-bottom: 3vh;
    padding: 5%;
    background: transparent;
	border: 2px solid rgba(255, 240, 181, 0.378);
	backdrop-filter: blur(16px) brightness(50%);
	box-shadow: 0 0 4px rgb(254, 203, 0);
	border-radius: 1rem;
    width: 100%;
}

.beerHolderAll img {
    margin-left: auto;
	width: 30%;
	aspect-ratio: 2/3;
	object-fit: contain;
	filter: drop-shadow(0 0 1rem #ffffff43);
}

.allBeers div h2,
h3 {
	margin-bottom: 5%;
}

.allBeers div h2 {
	font-size: 4vw;
	color: rgb(255, 217, 0);
}

.allBeers h3 {
	font-size: 2vw;
	color: rgba(255, 242, 167, 0.848);
}

.allBeers div p {
	color: #e39300;
	font-size: 2vw;
	margin-bottom: 10%;
}

.allBeers div a {
	display: block;
	padding: 1.2vh;
	border: 1px solid;
	text-align: center;
	width: 25vw;
	border-radius: 0.5rem;

}


.beerHolderAll div {
    padding: 1% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
