nav {
	width: 6vw;
	aspect-ratio: 1 / 1;
	background: transparent;
	backdrop-filter: blur(32px) brightness(80%);
	position: fixed;
	bottom: 3%;
	right: 3%;
	border-radius: 50%;
    display: grid;
    place-items: center;
}

nav img {
    width: 60%;
    object-fit: cover;
    margin: 0 auto;
    padding: 5%;
}


